/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

/* Header Section */
.header {
    background-color:  #242424;
    color: #dfdfdf;
    padding-left: 10px;
    padding-top: 22px;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1000;
    

}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;  
    margin: 0 auto;
    width: 100%;
}

.logo {
    padding-top: 10%;
    height: 60px;
    
}
.nav {
    flex-grow: 1;                 
    display: flex;             
    justify-content: center;      
}


.nav ul {
    list-style: none;             
    display: flex;               
    justify-content: center;    
    gap: 45px;                       
}


.nav ul li a {
    color: white;
    text-decoration: none;
    font-family: Lucida Sans ;
    font-size:x-large;
    position :relative;
}



.nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    height: 1.5px; 
    background-color: #ff6b6b;
    transform: scaleX(0); 
    transition: transform 0.5s ease; 
}

.nav ul li a:hover::after {
    transform: scaleX(1); 
}

.user-icons ul{  
    list-style: none;          
    display: flex;
    gap: 55px;
    margin: 0;
    padding: 0;
}


.user-icons li a {
    color: rgb(240, 240, 240); 
    text-decoration: none;
    font-size: 20px; 
    position: relative;
}



profile-icon dropdown{
    height: 100px;
}

/* Dropdown menu styling */
.profile-icon .dropdown-menu{
    display:none;
    position: absolute;
    margin-top: 15px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 250px;
}

.dropdown-menu li {
    display:flex;
    justify-content: left;
    padding: 5px 15px;
    background-color: #eeeeee;
    height: 80px;
    align-items: center;
     
}

.dropdown-menu li a {
    color: #070707;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

/* Show the dropdown on hover */
.profile-icon:hover .dropdown-menu {
    display: block; 
}










/* Hero Section */
.hero {
    background-color:  #242424;
    color: #f7f7f7;
    padding: 350px 20px;
    text-align: center;
    height:100vh;
    background-image: url('utils/Images/burger.png'), url('utils/Images/pizza.png');
    background-size: auto, auto, auto; 
    background-position: left bottom, 118% center; 
    background-repeat: no-repeat; 
    background-blend-mode:normal;
    
}

.hero::before {
    content: '';
    position: absolute;
    top: 25%;
    left: 18%; 
    width: 300px; 
    height: 300px; 
    background-image: url('utils/Images/Salad.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center; 
    animation: rotateImage 5s infinite alternate; 
}



.hero::after {
    content: '';
    position: absolute;
    top: 21%; 
    right: 28%; 
    width: 90px; 
    height: 90px; 
    background-image: url('utils/Images/Leaves.png');
    background-size: cover;
    background-repeat: no-repeat;
    transform-origin: center; 
    animation: rotateImage 5s infinite alternate; 
}



@keyframes rotateImage {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg); 
    }
}



.hero-content h2 {
    font-size: 5.5rem  !important;
    margin-bottom: 10px;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
}


.hero-content p {
    margin-bottom: 10px;
    opacity: 50%;
    
}

.btn {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}



/* Styling for the search container */
.search-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    max-width: 1000px; 
    margin: 0 auto; 
    height: 300px; 
    position: relative; 
}

.icon-container {
    position: absolute;
    left: 20px;
    color: #746f6f; 
    font-size: 1.5rem;
 
}

.search-input {
    width: 100%;
    color: white;
    padding: 35px 140px 35px 10px; 
    border: 1px solid #524f4f;
    border-radius: 55px; 
    outline: none;
    font-size: 1.5rem;
    background-color: #424040;
}

.search-btn {
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    background-color: #ff5722; 
    color: white;
    border: none;
    padding: 28px 25px;
    border-radius: 55px; 
    cursor: pointer;
    font-size:1.0rem;
    font-weight:bolder;
}

.search-btn:hover {
    background-color: #c74221; 
}













/* Menu Section */
.menu {
    background-color: #1b1b1b;
    text-align: center;
    padding:0px 300px;
    height:auto;
}

.menu h2 {
    margin-bottom: 20px;
}

.menu-items {
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:20px;
    
}

.menu-item {
    height: 300px;
    flex: 0 1 calc(33.333% - 20px); 
    margin-bottom: 100px;
    padding: 10px; 
    text-align: center; 
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}



.restaurant-name{
    margin: 0px;
    padding: 30px;
    color: #cacaca;
    font-size: 1.2rem;
    background-color: #000000; 
    font-size: 0.9em;
    text-align: center; 
}










/* Order Form Section */
.order {
    padding: 20px;
    background-color: #f9f9f9;
}

.order-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.order-form label {
    margin-bottom: 5px;
}

.order-form input,
.order-form select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-submit {
    background-color: #ff6b6b;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Footer Section */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
}





/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++*/





/* Responsive Adjustment */

@media (max-width: 768px) {
    .nav {
        display: none; 
    }
    .header .container {
        max-width: 100%;
        padding: 0 5px; 
    }

    .user-icons {
        font-size: 24px;
    }

    .logo {
        padding: 1px;
        width:65px;
        height:auto;
    }

    .hero::before {
        display: none;
    }

    .user-icons ul{  
        list-style: none;          
        display: flex;
        gap: 20px;
        margin: 0;
        padding-left:10px;
    }
    
    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;  
        margin: 0 auto;
        width: 100%;
        padding-left: -55px;
    }
    
    .user-icons li a {
        color: rgb(240, 240, 240); 
        text-decoration: none;
        font-size: 20px;
        position: relative;
        
    }


    
.menu-button{
    display:block;
}

    
/* Hero Section */
.hero {
    background-color:  #242424;
    color: #f7f7f7;
    padding: 350px 20px;
    text-align: center;
    background-image: url('utils/Images/burger.png'), url('utils/Images/pizza.png'); 
    background-size: 130px 150px, 150px 150px; 
    background-position: 0% 96%,  112% 90%;
    background-repeat: no-repeat; 
    background-blend-mode:normal; 
}


.hero-content{ 

    p {
        margin-top: -35px;
        margin-bottom: 25px;
        opacity: 50%;
        
    }

    #lorem{
        margin-top: 40px;
        opacity: 50%;

    }


    h2 {
    font-size:4.5rem  !important;
    margin-bottom: 20px;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1;
    margin-bottom: 25px;
    }
}

/*Below hero check delivery*/



/* Menu Section */
.menu {
    background-color: #1b1b1b;
    text-align: center;
    padding: 0 20px;
    height:auto;
}



.check-delivery{
    align-items: center;
    justify-content: center;
    padding: 90px;
    background-color:  #1b1b1b;
    display: flex;
    flex-direction: column;

    input{
        background-color: #1b1b1b;
        border:none;
        border-bottom: 1px solid rgb(255, 255, 255);
        height: 50px;
        width : 350px;
    }

    input::placeholder {
        font-size: 15px; 
        color: #696868; 
    }


    button{
        align-items: center;
        justify-content: center;
        background-color: #fa5126;
        color: white;
        font-weight: bolder;
        font-size: rem;
        margin-top: 50px;
        height: 60px;
        width : 350px;
        border-radius: 50px;
        
    }


}

.about{
    padding-top: 40px;
}

.about p{
    color: red; 
    font-weight: lighter;
    opacity: 60%;
    font-size: 1.2rem; 
    width: 100%; 
    
}


.about h2{
    margin-top:20px;
    font-size: 3.0rem  !important;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    color: white;
}
.about-logos{
    display: flex;
    flex-direction: column;
    padding-top: 18px;
    gap:30px;


    .la-la-logos{
        color: rgb(223, 49, 43);
        font-size: 2.5rem;
    }

    h4{
        margin-top: -5px;
        color: rgb(243, 243, 243);
        font-size: 1.5rem;
        font-weight: lighter;
        opacity: 70%;
    }

    p{
        color:white;
        font-size:1.0rem;
        opacity: 70%;
    
    }
}


.menu-items {
    padding-top: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap:140px;
}

.menu-item {
    margin-bottom: -20px;
    text-align: center;
    display: flex;
    flex-direction: column;
   

    img {
        width: 400px;
        height: 300px;
    }
}

.restaurant-name {
    margin: 0px;
    padding: 30px;
    color: #cacaca;
    font-size: 1rem; 
    background-color: #000000;
    text-align: center;
}


.browse-food {
    display:block;
    margin: 60px 0px 100px 0px;
    background-color: rgb(212, 77, 44);
    color: white;
    font-weight: bolder;
    font-size: 0.8rem;
    border: none;
    border-radius: 50px; 
    padding: 20px 50px;
    cursor: pointer;
    height:fit-content;
    width:400px;
}


/* Testinomials*/
.testinomials{
    background-image:url(utils/Images/testinomials-background.jpg);
    background-size: 320%; 
    background-repeat: no-repeat; 
    background-attachment: scroll; 
    background-position: center center; 
    height: 72vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    position: relative; 
    opacity:30%;

  
    
    .carousel li {
        min-width: 200px; /* Adjust width as needed */
        margin: 0 10px;
        background-color: #141010;
        padding: 20px;
        scroll-snap-align: start;
        text-align: center;
        border: 1px solid #000000;
        border-radius: 8px;
        flex: 0 0 auto;
    }
    
}












.downloads {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: auto;
    background-color: #161515; 
    text-align: center;
}

.download-content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    text-align: center; 
    width: 100%; 
    padding: 20px; 
}

.downloads p {
    color: red; 
    font-weight: lighter;
    opacity: 60%;
    font-size: 1.2rem; 
    width: 100%; 
    text-align: center; 
}

.downloads h2{
    margin-top: 50px;
    font-size: 3.0rem  !important;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;
    line-height: 1;
    color: white;


}

.download-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    margin-top: 50px;
}


.ios-logo img,
.android-logo img {
    width: 200px; 
    height: auto;
}


.download-type{
    margin-top: 50px;
    color:white;
    opacity: 50%;
}



/*below Downloads*/
.info {
    background-color: #1b1b1b;
    text-align: center;
    padding: 50px;
    

    p{
        color: white;
        padding-top: 40px;
        opacity:60%;
    }
}


.about1 {
    padding-top: 30px;

    p{
        color: red;
        font-weight: lighter;
        opacity: 60%;
        font-size: 1.2rem; 
        width: 100%; 
        
        
    }

    h2{
        margin-top: 50px;
        font-size: 3.0rem  !important;
        font-family: "Cookie", cursive;
        font-weight: 400;
        font-style: normal;
        line-height: 1;
        color: rgb(233, 232, 232);
       
    }
}


.about1-logos2 {
   padding-top: 20px;

   .la-la-logos{
    color: rgb(161, 151, 151);
    font-size: 6.5rem;
   }

   #bicycle{
    color: #c74221;
   }

    p{
        font-size: 1.3rem;
    }
}



/* Footer Section */
.footer {
    background-color: #141414;
    color: rgb(212, 212, 212);
    text-align: center;
    height: auto;
    font-size: 0.8rem;

    p{
        padding-bottom: 60px;
    }
}


/*back to top*/
.back-to-top {
    position: fixed;
    display: none;
    bottom: 20px;
    right: 20px;
    background-color: #ec4d04;
    color: white;
    padding: 10px 15px;
    border-radius: 100px;
    text-align: center;
    cursor: pointer;
    width: 50px;


    i {
        color: rgb(236, 236, 236);
        text-decoration: none;
        font-weight: bolder;
        font-size: 1.5rem;
        
    }
}





.hero .back-to-top {
    display: none;
  }
  



.social-media-icons {
    align-items: center; 


    i {
        font-size: 15px; 
        color: #f5f5f5; 
        padding: 30px;
    }
}

.search-container {
    display:none;
}

.hero::before{
    display:none;
}

}